<nav class="bg-white py-4 mt-1 border-b border-gray-400" role="navigation" aria-label="main-navigation">
  <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px:6">
    <%= link_to root_path, class:"leading-normal no-underline text-gray-800 my-2 md:my-0" do %>
      <h1 class="text-lg pr-2 font-bold">GitHub Repository Search</h1>
    <% end %>
  </div>
</nav>